lambda/
scripts/
config/
.history
build/
dist/
mock/
node_modules/
**/*.html
**/*.xml
**/*.css
**/*.less
**/*.scss
**/*.sass
**/*.json
**/*.lock
**/*.mp3
**/*.mp4
**/*.jpg
**/*.jpeg
**/*.png
**/*.webp
**/*.svg
**/*.doc
**/*.
**/*.babelrc*
**/*.editorconfig*
**/*.eslintrc*
.gitignore
.prettierignore
**/*.prettierrc*
